<div class="bx-messenger-table-wrapper">
	<div class="bx-messenger-table-wrapper-rows">
		<div class="cell">
			<div class="bx-messenger-conversation-block-wrapper">
				<div class="bx-messenger-conversation-block">
					<div class="bx-messenger-conversations">
						__content__
					</div>
				</div>
				<div id="bx-messenger-info-area">
					<div class="bx-messenger-conversations-typing bx-def-font-light bx-def-font-small">
						<span></span><bx_text:_bx_messenger_typing_message />
					</div>
					<div class="bx-messenger-info-area-connecting bx-def-font-light bx-def-font-small">
						<bx_text:_bx_messenger_reconnecting_message /><span></span>
					</div>
					<div class="bx-messenger-info-area-connect-failed bx-def-font-light bx-def-font-small">
						<bx_text:_bx_messenger_reconnecting_failed />
					</div>
				</div>
			</div>
		</div>
	</div>
<bx_if:post_area>
	<div class="bx-messenger-table-wrapper-rows">
		<div class="cell">
			  <div class="bx-messenger-post-box">
					<div class="bx-messenger-post-box-set">
						<div class="bx-messenger-post-box-send-actions">
						<ul>	
							<li>
								<a class="smiles" title="<bx_text:_bx_messenger_post_emoji />"></a>
							</li>
							<li class="video">
								<a title="<bx_text:_bx_messenger_send_recorded_video />" onclick="oMessenger.showPopForm('get_record_video_form');">
									<i data-feather="video"></i>
								</a>
							</li>
							<li>
								<a title="<bx_text:_bx_messenger_post_attache_files />" onclick="oMessenger.showPopForm();">
									<i data-feather="paperclip"></i>
								</a>
							</li>
							<li>
								<a title="<bx_text:_bx_messenger_post_view_actions />" id = "bx-messenger-send-area-menu">
									<i data-feather="plus"></i>
								</a>
							</li>
						</ul>
						</div>
						<div class="bx-messenger-post-box-send-area">
							<div id="bx-messenger-message-box" contenteditable="true" placeholder="__place_holder__" class="bx-def-font-inputs bx-form-input-text bx-messenger-text-box"></div>
						</div>
						<div class="bx-messenger-post-box-send-button">
							<a id="send-button" title="<bx_text:_bx_messenger_post_button_title />">
								<i data-feather="arrow-up"></i>
							</a>
						</div>
					</div>
			</div>
		</div>
	</div>
</bx_if:post_area>
</div>
<script type="text/javascript">
	$(function(){
		oMessenger.initJotSettings({
			'type'	:__type__,
			'url'	:'__url__',
			'lot'	:__id__,
			'name'	:'__name__'
		});
	});
</script>