<script type="text/javascript">
	<bx_if:onsignal>
	/* One Signal  Push Notifications Init Begin */
		var OneSignal = window.OneSignal || [];
		OneSignal.push(["init", {
									appId: '__one_signal_api__',
									autoRegister: true, /* Set to true to automatically prompt visitors */
									subdomainName: '__short_name__', /* required only for http  sites */
									safari_web_id: '__safari_key__',
									persistNotification: false,
									welcomeNotification:{
															disable:false
															},
									httpPermissionRequest: {
															enable: true
														  },
									promptOptions: {
															/* These prompt options values configure both the HTTP prompt and the HTTP popup. */
															/* actionMessage limited to 90 characters */
															actionMessage: '__notification_request__',
															/* acceptButtonText limited to 15 characters */
															acceptButtonText: '__notification_request_yes__',
															/* cancelButtonText limited to 15 characters */
															cancelButtonText: '__notification_request_no__'
														}
								 }
					]);	

		OneSignal.push(function() {
			var isPushSupported = OneSignal.isPushNotificationsSupported();
				OneSignal.setDefaultNotificationUrl('__jot_chat_page_url__');
				OneSignal.isPushNotificationsEnabled().then(
		        function(isEnabled) {
							OneSignal.sendTag('user', __profile_id__); // set tag for onesiganl, this tag will be used to send notification
									if (!isEnabled && isPushSupported)
												OneSignal.showHttpPermissionRequest();
				});
		});	
	/*  One Signal Push Notifications Init End */
	</bx_if:onsignal>
	
    if (navigator.userAgent.indexOf('gonative') > -1) {
        var data = {user: __profile_id__};
        var json = JSON.stringify(data);
        $(document).ready(function () {
            window.location.href='gonative://registration/send?customData=' + encodeURIComponent(json);        
        });
    }

	if (oRTWSF != undefined)
	{
			oRTWSF.init({
				server:'__server_url__',
				ip:'__ip__'
			});
	}
		
	oMessenger.init({
				emoji:
					  {
						emojiable_selector: '#bx-messenger-message-box',
						convert_to_emoji:__smiles__,
						onPaste:function(text){
							return text;
						},
						menu_wrapper:'a.smiles',
						popup_position:{left:'0.5rem'},
						menu_icon:'<svg width="24" height="24" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg">' +
										'<g transform="translate(1 1)" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">' +
										'<circle cx="10" cy="10" r="10"/><path d="M8 9V7M12 9V7M4.505 11c0 2.58 2.425 4.67 5.417 4.67S15.34 13.58 15.34 11"/></g></svg>'
					  },
				oRTWSF:oRTWSF,
				user_id:__profile_id__,
				max:__message_length__,
				ebmed_template:'__ebmed_template__'
	});
	
	window.aDolLang	=	{
							'_bx_messenger_online':'__online__',
							'_bx_messenger_offline':'__offline__',
							'_bx_messenger_away':'__away__',
							'_bx_messenger_repost_message': '__repost_of_the_message__',
							'_bx_messenger_close_video_confirm':'__close_video_confirm__',
							'_bx_messenger_max_video_file_exceeds':'__video_exceed__',
							'_bx_messenger_video_record_is_not_supported':'__video_is_not_supported__',
							'_bx_messenger_search_no_results': '__bx_messenger_search_no_results__',
							'_bx_messenger_search_query_issue': '__bx_messenger_search_query_issue__'
						}
</script>
