<div class="bx-messenger-edit-jot">
	<div class="bx-messenger-post-box-send-area">
		<div id="bx-messenger-edit-message-box" contenteditable="true" placeholder="__place_holder__" class="bx-def-font-inputs bx-form-input-text bx-messenger-text-box" data-emojiable="true">__content__</div>
	</div>
	<div class="bx-messenger-edit-jot-buttons">
		<div class="bx-btn bx-btn-primary bx-def-margin-sec-right" onclick="oMessenger.onSaveJot(this);"><bx_text:_bx_messenger_save_button /></div> 
		<div class="bx-btn cancel" onclick="oMessenger.onCancelEdit(this);"><bx_text:_bx_messenger_cancel_button /></div>
	</div>
</div>