<div class="bx-messenger-attachment-area bx-messenger-attachment-files">
	<bx_repeat:files>
		<div class="bx-messenger-attachment-file-wrapper">
			__delete_code__
			<a href="__url__modules/?r=messenger/download_file/__id__">
				<div class="bx-messenger-attachment-file">
					<i class="sys-icon __type__"></i>
					<div class="bx-messenger-attachment-file-info">
						<span class="bx-def-font-bold bx-def-font-normal">__name__</span>
					<span class="bx-def-font-light">__file_type__</span>
					</div>
				</div>
			</a>
		</div>
	</bx_repeat:files>
	<bx_repeat:images>	
		<div class="bx-messenger-attachment-file-images">
			__delete_code__
			<span class="bx-def-font-bold bx-def-font-normal title">__name__</span>
			<img title="__name__" src="__url__" onclick="oMessenger.zoomImage(__id__);"/>
		</div>
	</bx_repeat:images>
	<bx_repeat:videos>
		<div class="bx-messenger-attachment-file-videos" data-video-id="__id__">
			__delete_code__
			__video__
		</div>
	</bx_repeat:videos>
</div>