   <bx_repeat:files>
        <div class="event bx-def-border-bottom" id="__id__">
            <div class="label" title="__username__">
                <img src="__author_thumb__">
            </div>
            <div class="content">
                <div class="summary">
                    <div class="date">
                        __time__
                    </div>
                </div>
                <div class="extra">
                   __file__
                </div>
            </div>
        </div>

    </bx_repeat:files>
