<div class="bx-messenger-giphy-panel giphy">
    <div class="bx-messenger-giphy">
            <div class="bx-messenger-giphy-input">
                <div class="loading absolute left-4 top-5 hidden"></div>
                <input class="bx-def-font-inputs bx-form-input-text" type="text" placeholder="<bx_text:_bx_messenger_title_search />" autocomplete="off" autocapitalize="off" autocorrect="off" />
            </div>
            <div class="bx-messenger-giphy-scroll">
                <div class="bx-messenger-giphy-items"></div>
            </div>
        <bx_if:powered_by>
            <span class="bx-messenger-giphy-logo"><img src="modules/boonex/messenger/template/images/powered_by_giphy.png"></span>
        </bx_if:powered_by>
    </div>
</div>