<div class="bx-messenger-table-wrapper-rows history">
			<div class="cell">
				<div class="bx-messenger-conversation-block-wrapper pushable">
					<div class="ui right vertical sidebar very wide bx-def-color-bg-block files">
						<div class="ui feed segment"></div>
					</div>
					<div class="pusher">
						<div class="bx-messenger-conversation-block">
							<div class="bx-messenger-conversations">
								__content__
							</div>
						</div>
						<div id="bx-messenger-info-area">
							<div class="bx-messenger-conversations-typing bx-def-font-light bx-def-font-small">
								<span></span><bx_text:_bx_messenger_typing_message />
							</div>
							<div class="bx-messenger-info-area-connecting bx-def-font-light bx-def-font-small">
								<bx_text:_bx_messenger_reconnecting_message /><span></span>
							</div>
							<div class="bx-messenger-info-area-connect-failed bx-def-font-light bx-def-font-small">
								<bx_text:_bx_messenger_reconnecting_failed />
							</div>
						</div>
				  </div>
				</div>
			<div class="bx-messenger-area-scroll bx-def-border bx-def-color-bg-box-active" onclick="oMessenger.onScrollDown();">
				<span class="bx-messenger-history-arrow">
					<span id="unread-jots-counter" class="bx-menu-item-addon bx-def-unit-alert bg-col-red2" style="display:__new_msg_active__">__unread_count__</span>
					<i class="sys-icon chevron-down"></i>
				</span>
			</div>
	</div>
</div>