<div id="bx-messenger-info-area">
    <div class="bx-messenger-conversations-typing font-light bx-def-font-small text-xs">
        <span></span><bx_text:_bx_messenger_typing_message />
    </div>
    <div class="bx-messenger-info-area-connecting font-light bx-def-font-small text-xs">
        <bx_text:_bx_messenger_reconnecting_message /><span></span>
    </div>
    <div class="bx-messenger-info-area-connect-failed font-light bx-def-font-small text-xs">
        <bx_text:_bx_messenger_reconnecting_failed />
    </div>
</div>