<section class="bx-messenger-info-section-block hidden" id="bx-messenger-info-section-block">
    <div class="flex flex-col h-full">
        <div class="bx-messenger-escape-button bx-messenger-jot-hover-menu group top-6 z-10">
            <a href="javascript:void(0)" onclick="oMessenger.onToggleInfoPanel();">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </a>
        </div>
        <div id="bx-messenger-info-section-block-content" class="bx-messenger-info-section-block-content">
            __info__
        </div>
    </div>
</section>