<ul class="bx-menu-main flex flex-nowrap flex-col bx-menu-object-jot bx-clearfix">
  <bx_repeat:menu>
	<li class="bx-menu-item __class__" onclick="__click__">
		<a class="bx-stl-mil group" href="javascript:void(0)" title="__title__">
			<div class="bx-menu-floating-blocks-icon bx-stl-mii group-hover:text-gray-700 dark:group-hover:text-gray-300">
				<i class="sys-icon __icon__"></i>
			</div>
			<div class="bx-menu-floating-blocks-title bx-stl-mit">__title__</div>
		</a>
	</li>
  </bx_repeat:menu>
</ul>
