<div class="bx-popup bx-popup-color-bg bx-popup-border ui popup __position__ transition hidden bx-messenger-jots-icons bx-def-z-index-front __class__">
	<div class="bx-popup bx-popup-color-bg bx-popup-content-indent">
		<ul class="bx-menu-custom bx-menu-custom-ver bx-menu-object-jot bx-clearfix">
		  <bx_repeat:menu>
			<li class="bx-menu-item bx-menu-item-item-stick bx-def-color-bg-hl-hover" onclick="__click__">
				<span class="bx-def-margin-thd-topbottom">
					<a class="bx-menu-item-link" href="javascript:void(0)" title="__title__">
						<i class="sys-icon __icon__"></i>
						<span class="bx-def-margin-sec-left-auto bx-def-unit">__title__</span>
					</a>
				</span>
			</li>
		  </bx_repeat:menu>
		</ul>
	</div>
</div>