<ul class="bx-menu-custom bx-menu-custom-ver bx-menu-object-jot bx-clearfix">
  <bx_repeat:menu>
	<li class="bx-menu-item bx-def-color-bg-hl-hover bx-menu-item-item-stick bx-stl-mil-wo-gaps-sm group __class__" onclick="__click__">
		<a class="bx-menu-item-link bx-stl-mil-gaps-sm flex items-center space-x-1" href="javascript:void(0)" title="__title__">
			<span class="flex items-center">
				<span class="bx-menu-item-icon bx-def-align-center bx-stl-mii-sm group-hover:text-gray-700 dark:group-hover:text-gray-300">
                    <i class="sys-icon __icon__"></i>
                </span>
				<span class="bx-menu-item-title bx-def-margin-sec-left-auto title">__title__</span>
			</span>
		</a>
	</li>
  </bx_repeat:menu>
</ul>
