<div class="bx-messenger-attachment">
	<div class="bx-messenger-attachment-header">
		<span class="bx-messenger-attachment-author-icon">
			<img class="bx-def-icon bx-def-icon-size" title="__username__" src="__icon__" />
		</span>
		<span class="bx-messenger-attachment-author-username bx-def-font-small bx-def-font-bold">
			__username__
		</span>
	</div>
	<div class="bx-messenger-attachment-author-message">
		__message__
	</div>
	<div class="bx-messenger-attachment-footer bx-def-font-small">
		<span class="type">__message_type__</span>
		<span class="date">__date__</span>
	</div>
</div>