<bx_if:show_lot_menu>
    <div class="bx-db-menu bx-messenger-lot-header-menu">
        <bx_if:jitsi>
            <a id="jitsi-button" href="javascript:void(0);" title="__video_title__" onclick="oMessenger.onStartVideoCall(this, __id__, '__room__');">
                <i class="sys-icon video"></i>
            </a>
        </bx_if:jitsi>
        <a id="star" href="javascript:void(0);" title="__star_title__" onclick="oMessenger.onStarLot(this, __id__);" data-value="__star__">
            <i class="sys-icon __star_icon__"></i>
        </a>
        <a href="javascript:void(0);" title="__mute_title__" onclick="oMessenger.onMuteLot(this, __id__);" data-value="__mute__">
            <i class="sys-icon __bell_icon__"></i>
        </a>
        <a href="javascript:void(0);" title="__settings_title__" onclick="oMessenger.showInfoMenu(this, '__lot_menu_id__')">
	    	<i class="sys-icon info-circle"></i>
		</a>
 	</div>
    __lot_menu__
</bx_if:show_lot_menu>