<div class="bx-messenger-block jots bx-db-container bx-def-image-bg-block bx-def-color-bg-block bx-shadow-block">
	<div class="bx-db-header">
		<div class="bx-messenger-hide-mobile bx-db-menu left">
			<a href="javascript:void(0);" onclick="oJotWindowBuilder.changeColumn();">	
				<i class="sys-icon angle-left">
					__back_count__
				</i>
			</a>
		</div>
		<div class="bx-db-title bx-def-font-h4">
			__title__
		</div>
		<div id="bx-menu-db-menu-settings" class="bx-popup-wrapper bx-popup-slide-wrapper bx-def-z-index-front bx-def-border-bottom bx-def-border-top bx-def-padding bx-def-box-sizing">
			<ul class="bx-menu-inter-vert">
				<bx_repeat:settings>
					<li class="bx-menu-inter-pas bx-def-round-corners bx-def-color-bg-hl-hover">
						<a class="" href="javascript:void(0)" onclick="__action__" title="__title__">
							<div class="bx-def-padding-left bx-def-padding-sec-right bx-def-padding-sec-topbottom">__name__</div>
						</a>
					</li>
				</bx_repeat:settings>						
			</ul>
		</div>
		<div class="bx-db-menu right">			
			<a href="javascript:void(0);" onclick="bx_menu_slide('#bx-menu-db-menu-settings', this)">
				<i class="sys-icon cog"></i>					
			</a>
		</div>
	</div> 
	<div class="bx-db-divider bx-def-hr"></div>
	<div class="bx-messenger-main-block">	
		__post_area__
	</div>
</div>