<div class="bx-messenger-talk-header-usernames bx-form-input-text">
	<bx_repeat:usernames>
		<span>
			<bx_if:avatars>
				<img class="bx-def-icon bx-def-icon-size" title="__title__" src="__thumb__" />
			</bx_if:avatars>
			<bx_if:letters>
				<p class="bx-base-pofile-unit-thumb bx-def-icon bx-def-icon-size" title="__title__" style="background-color:rgba(__color__)">__letter__</p>
			</bx_if:letters>
			<span class="bx-def-unit-info bx-def-padding-left">__username__</span>
		</span>
	</bx_repeat:usernames>
</div>
