# Exclude OS X folder attributes
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db


# Exclude packages
template/css/tailwind/node_modules
template/css/tailwind/yarn.lock
template/css/tailwind/yarn-error.log
js/emoji


# Exclude IDE project folder
.idea