<div class="bx-messenger-table-wrapper-rows text-area bx-def-hr">
        <div class="bx-messenger-post-box">
            <div class="bx-messenger-reply-area">
                <span class="bx-messenger-reply-area-message bx-def-font-small bx-def-border-left" onclick="oMessenger.jumpToParentMessage();"></span>
                <a href="javascript:void(0);" onclick="oMessenger.onCleanReplayArea();" class="bx-def-font-medium">
                    <i class="sys-icon times"></i>
                </a>
            </div>
            <bx_if:text>
				<div class="bx-messenger-post-box-set pl-2">
                    <div class="bx-messenger-post-box-send-area">
                        <div id="bx-messenger-message-box" class="bx-form-input-text bx-messenger-text-box text-base transparent"></div>
                    </div>
                </div>
            </bx_if:text>
            <div class="bx-messenger-attachment-group">
                <div class="bx-messenger-send-area-attachments"></div>
            </div>
            <div class="bx-messenger-post-box-send-actions py-4">
                <div class="bx-messenger-post-box-send-actions-items">
                    <ul class="bx-menu-custom bx-menu-custom-hor bx-menu-hor-inline flex justify-start items-start space-x-2">
                        <bx_if:smiles>
                            <li class="bx-menu-item bx-stl-mil-wo-gaps-sm group">
                                <a class="smiles bx-menu-item-link bx-stl-mil-gaps-sm flex items-center" title="<bx_text:_bx_messenger_post_emoji />">
                                    <i class="sys-icon smile"></i>
                                </a>
                            </li>
                        </bx_if:smiles>
                        <bx_if:recording>
                            <li class="video bx-menu-item bx-stl-mil-wo-gaps-sm group">
                                <a class="bx-menu-item-link bx-stl-mil-gaps-sm flex items-center" title="<bx_text:_bx_messenger_send_recorded_video />" onclick="oMessenger.getVideoRecording();">
                                    <i class="sys-icon file-video"></i>
                                </a>
                            </li>
                        </bx_if:recording>
                        <bx_if:files>
                            <li class="bx-menu-item bx-stl-mil-wo-gaps-sm group">
                                <a class="bx-menu-item-link bx-stl-mil-gaps-sm flex items-center attachefile" title="<bx_text:_bx_messenger_post_attache_files />">
                                    <i class="sys-icon paperclip"></i>
                                </a>
                            </li>
                        </bx_if:files>
                        <bx_if:giphy>
                            <li class="bx-menu-item bx-stl-mil-wo-gaps-sm group">
                                <a class="bx-menu-item-link bx-stl-mil-gaps-sm flex items-center" title="<bx_text:_bx_messenger_giphy_gifs_button />" id="bx-messenger-send-area-giphy">
                                    <i class="sys-icon file-image"></i>
                                </a>
                            </li>
                        </bx_if:giphy>
                    </ul>
                    <div class="bx-messenger-post-box-send-button">
                        <a class="bx-stl-mil-sm group" id="send-button" title="<bx_text:_bx_messenger_post_button_title />">
                            <i class="sys-icon arrow-circle-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        __giphy__
</div>