<div class="bx-messenger-main-columns-block">
    <div class="bx-messenger-columns">
        __menu__
        <section class="bx-messenger-menu-column col-span-10 md:col-span-4 xl:col-span-3" id="bx-messenger-list-block">
            <div class="bx-messenger-menu-column-talks-list">
                __list__
            </div>
        </section>
        <main class="bx-messenger-history-column md:col-span-6 md:block xl:col-span-5 hidden" id="bx-messenger-history-block">
            __history__
        </main>
        __info__
    </div>
</div>