<script>
/* DEPRECATED: To move this function to js file*/
$(function($, oMessenger) {
    let aFiles = [];
    let bClean = false;
    let bLoading = false;

	/* FilePond plugins begin*/
    const fInitFunc = () => {
    $.fn.filepond.registerPlugin(
			FilePondPluginImagePreview,
			FilePondPluginMediaPreview,
            FilePondPluginFileValidateSize,
            FilePondPluginFileRename
		);
		
    const oFilePond = $('[name=__files_uploader__]')
        .filepond({
            server: {
                url: '__server_files_uploader_url__',
                revert: null,
            },
            fileRenameFunction: file => (0 | Math.random() * 9e6).toString(36) + file.extension,
            beforeDropFile: (oFile) => {
                const sPreg = /\.(jpeg|jpg|gif|png)$/;

                if (typeof oFile === 'string')
                    return sPreg.test(oFile);

                return oFile instanceof File && oFile.type !== 'text/html';
            },
            beforeAddFile: function({ file }){
                const { type } = file;
                const aRestrictedFileTypes = __restricted_extensions__;
                if (type){
                    const aTypes = type.split('/');
                    if (typeof aTypes[1] !== 'undefined' && ~aRestrictedFileTypes.indexOf(aTypes[1].toLowerCase())){
                        bx_alert(_t('_bx_messenger_file_type_is_not_allowed'));
                        return false;
                    }
                }

                return !(file instanceof Blob && !(file instanceof File) && type === 'text/html');
            },
            allowFileRename: true,
            imagePreviewMaxHeight: 96,
            dropValidation: true,
            dropOnPage: true,
            allowMultiple: true,
            allowBrowse: true,
            dropOnElement: false,
            allowPaste: true,
            checkValidity: true,
            allowFileSizeValidation: true,
            maxFiles: '__number_of_files__',
            acceptedFileTypes: [],
            labelInvalidField: '__invalid_file_type__',
            labelMaxFileSizeExceeded: _t('_bx_messenger_file_is_too_large_error'),
            labelMaxFileSize: _t('_bx_messenger_file_is_too_large_error_details'),
            labelFileProcessing: '__uploading__',
            labelFileProcessingComplete: '__upload_is_complete__',
            labelFileProcessingAborted: '__upload_cancelled__',
            labelFileProcessingError: '__response_error__',
            labelButtonRemoveItem: '__remove_button__',
            maxFileSize: '__file_size__MB',
            onwarning: (oObject) => {
                const { body, type } = oObject;
                if (type === 'warning' && body === 'Max files')
                    bx_alert(_t('_bx_messenger_max_files_upload_error', '__number_of_files__'));
                else
                    console.log(oObject);
            },
            onaddfilestart: (file) => {
                bClean = false;
                bLoading = true;
            },
            onupdatefiles: (files) => {
                aFiles = files;
                bLoading = false;

                const aFilteredFiles = aFiles.filter(({ fileType }) => fileType !== 'application/octet-stream');

               if (typeof oMessenger.updateAttachmentArea === 'function')
                  oMessenger.updateAttachmentArea(!aFilteredFiles.length);
            },
            onremovefile: (error, oFile) => {
                const { file } = oFile;
                bLoading = false;
                if (!bClean && file && file.name)
                    $.ajax({
                        url: '__remove_temp_file_url__',
                        type: 'DELETE',
                        data:  { name: file.name }
                    });
            }
        });

    $('div.filepond--root')
        .on('FilePond:init', () =>{
            $('a.attachefile').on('click', () => {
                $('.filepond--browser').click();
            });
        })
        .on('FilePond:addfile', (oFile) => {
            oMessenger.cleanGiphyAreas()
        });

    const oFilePondUploader = {
        isLoadingStarted: () =>  +oFilePond.filepond('status') === 3,
        isReady: () => !aFiles.length || (aFiles.length === aFiles.filter((oFile) => oFile.status === 5).length),
        getFiles: () => aFiles
                          .filter((oFile) => oFile.status === 5)
                          .map(({ file }) => file.name),
        clean: () => {
            bClean = true;
            return oFilePond.filepond('removeFiles');
        }
    };

    // set file uploader for Messenger
    $(() => oMessenger && oMessenger.initUploader(oFilePondUploader));
    /* end */
    }

    if (typeof $.fn.filepond === 'undefined')
        bx_get_scripts(__filepond_links__, fInitFunc);
    else
        fInitFunc();

}($, oMessenger));
</script>