<div class="bx-messenger-attachment-area bx-messenger-attachment-files">
	<bx_repeat:files>
		<div class="bx-messenger-attachment-file">
			<i class="sys-icon __type__"></i>
			<div class="bx-messenger-attachment-file-info">
				<span class="bx-def-font-bold bx-def-font-normal">__name__</span>
				<span class="bx-def-font-light">__file_type__</span>
				<div class="bx-messenger-attachment-file-download">
					<a href="javascript:void(0);" onclick="oMessenger.onFileDownload(__id__);">
						<i class="sys-icon download"></i>
					</a>
				</div>
			</div>
		</div>
	</bx_repeat:files>
</div>