<div class="bx-messenger-table-wrapper">
	<div class="bx-messenger-table-wrapper-rows">
			<div class="cell">
				<div class="bx-messenger-conversation-block-wrapper pushable">
					<div class="ui right vertical sidebar very wide bx-def-color-bg-block files">
						<div class="ui feed segment"></div>
					</div>
					<div class="pusher">
						<div class="bx-messenger-conversation-block">
							<div class="bx-messenger-conversations">
								__content__
							</div>
						</div>
						<div id="bx-messenger-info-area">
							<div class="bx-messenger-conversations-typing bx-def-font-light bx-def-font-small">
								<span></span><bx_text:_bx_messenger_typing_message />
							</div>
							<div class="bx-messenger-info-area-connecting bx-def-font-light bx-def-font-small">
								<bx_text:_bx_messenger_reconnecting_message /><span></span>
							</div>
							<div class="bx-messenger-info-area-connect-failed bx-def-font-light bx-def-font-small">
								<bx_text:_bx_messenger_reconnecting_failed />
							</div>
						</div>
				  </div>
				</div>
			<bx_if:show_scroll_area>
				<div class="bx-messenger-area-scroll bx-def-font-light bx-def-font-small">
					<div>
						<span>
							<a href="javascript:void(0);" onclick="oMessenger.loadTalk(__id__, $('#mark_all_as_read').is(':checked'));">
								<span><bx_text:_bx_messenger_jump_to_the_bottom /></span>
							</a>
							<bx_if:check_as_read>
								<label class="checkcontainer" title="<bx_text:_bx_messenger_mark_all_as_read />">
									<input name="mark_all_as_read" value="text" id="mark_all_as_read" class="bx-def-font-inputs bx-form-input-checkbox" type="checkbox" />
									<span class="checkmark"></span>
								</label>
							</bx_if:check_as_read>
						</span>
					</div>
				</div>
			</bx_if:show_scroll_area>
		</div>
	</div>
<bx_if:post_area>
	<div class="bx-messenger-table-wrapper-rows">
		<div class="cell">
			  <div class="bx-messenger-post-box bx-def-border-block">
					<div class="bx-messenger-post-box-set">
						<div class="bx-messenger-post-box-send-area bx-def-font-default bx-def-font-middle">
							<div id="bx-messenger-message-box" class="bx-form-input-text bx-messenger-text-box"></div>
						</div>
					</div>
				  <div class="bx-messenger-attachment-group">
				  	<input type="file" name="__files_uploader__"  required  style="display:none;"/>
				  	<div class="bx-messenger-send-area-attachments"></div>
				  </div>
					<div class="bx-messenger-post-box-send-actions">
						<div class="bx-messenger-post-box-send-actions-items">
							  <ul>
								  <li>
									  <a class="smiles" title="<bx_text:_bx_messenger_post_emoji />">
										 <i class="sys-icon smile"></i>
									  </a>
								  </li>
								  <li class="video">
									  <a title="<bx_text:_bx_messenger_send_recorded_video />" onclick="oMessenger.showPopForm('get_record_video_form');">
										 <i class="sys-icon file-video"></i>
									  </a>
								  </li>
								  <li>
									  <a title="<bx_text:_bx_messenger_post_attache_files />" class="attachefile">
										  <i class="sys-icon paperclip"></i>
									  </a>
								  </li>
								  <bx_if:gif>
									  <li>
										  <a title="<bx_text:_bx_messenger_giphy_gifs_button />" id="bx-messenger-send-area-giphy">
											  <i class="sys-icon file-image"></i>
										  </a>
									  </li>
								  </bx_if:gif>
							  </ul>
								<div class="bx-messenger-post-box-send-button">
									<a id="send-button" title="<bx_text:_bx_messenger_post_button_title />">
										<i class="sys-icon arrow-circle-up"></i>
									</a>
								</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</bx_if:post_area>
<bx_if:giphy>
	<div class="bx-def-color-bg-block giphy">
		__giphy__
	</div>
</bx_if:giphy>
__emoji_picker__
</div>
<script type="text/javascript">
	const oSidebarPanel = $('.bx-messenger-conversation-block-wrapper');
	$(function(){
		oMessenger.initJotSettings({
			'type'	:__type__,
			'url'	:'__url__',
			'lot'	:__id__,
			'name'	:'__name__',
			'placeholder': '__place_holder__'
		});

		$('.ui.sidebar', oSidebarPanel)
				.sidebar({
					context: oSidebarPanel,
					dimPage: true,
					scrollLock: true,
					onVisible:function(){
						const { context } = $(this);
						if ($(context).hasClass('files') && !$('.event', context).length){
							oMessenger
								.loadTalkFiles($('.segment', context), $('.event', context).length, (oData) =>
										{
											let bPassed = false;
											const iTotal = (oData && oData.total) || 0;

											if (!iTotal)
												return ;

											$('.segment', context)
													.visibility({
														once: false,
														continuous: true,
														context: context,
														// load content when scroll passed 60%
														onUpdate: function({ height, pixelsPassed, percentagePassed }){
															const iItems = $('.event', $(this)).length,
																  iViewArea = $(context).height(),
																  iPassed = pixelsPassed >= (height-iViewArea)/2;

															if (!iTotal || !percentagePassed || iItems >= iTotal || !iPassed)
																return ;

															if (!bPassed) {
																bPassed = true;
																oMessenger.loadTalkFiles($(this), iItems, () => setTimeout(() => bPassed = false, 0));
															}
														}
													});
										}
								);
						}

					}
				})
				.sidebar('setting', {
					transition: 'overlay',
					mobileTransition: 'overlay'
				});
	});

	$('#bx-messenger-send-area-giphy')
		.on('click', function(e){

			if ($('.giphy').is(':visible'))
				$('.giphy').fadeOut();
			else
				$('.giphy').fadeIn(function(){
					$(this).css('display', 'flex');
					oMessenger.initGiphy(e);
				});
		});

</script>