<div class="bx-messenger-create-talk-list" id="bx-messenger-users-creation-area">
    <div class="bx-messenger-create-talk-list-header">
        <div class="w-full flex justify-between">
             <div class="bx-messenger-jot-hover-menu group top-3">__menu_button__</div>
             <div class="bx-messenger-create-talk-list-main-logo">
               <svg fill="none" stroke="currentColor" viewBox="0 0 48 48" aria-hidden="true">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M34 40h10v-4a6 6 0 00-10.712-3.714M34 40H14m20 0v-4a9.971 9.971 0 00-.712-3.714M14 40H4v-4a6 6 0 0110.713-3.714M14 40v-4c0-1.313.253-2.566.713-3.714m0 0A10.003 10.003 0 0124 26c4.21 0 7.813 2.602 9.288 6.286M30 14a6 6 0 11-12 0 6 6 0 0112 0zm12 6a4 4 0 11-8 0 4 4 0 018 0zm-28 0a4 4 0 11-8 0 4 4 0 018 0z" />
               </svg>
             </div>
             <div class="bx-messenger-jot-hover-menu group top-3">
                 <a href="javascript:void(0)" onclick="javascript:oMessenger.closeEditForm()">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                         <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                     </svg>
                 </a>
             </div>
        </div>
        <h2><bx_text:_bx_messenger_add_users_message /></h2>
    </div>
    <bx_if:broadcast>
    <section class="bx-create-convo-criteria">
        __convo_menu__
        <div class="bx-messenger-convo-filter-criteria" id="bx-messenger-convo-filter-criteria"></div>
    </section>
    </bx_if:broadcast>
    <section class="bx-messenger-select-users-area">
        <div id="bx-messenger-add-users" class="bx-messenger-create-list-add-users-area">
          <div class="bx-messenger-existed-users-list">__profiles_list__</div>
          <div class="bx-messenger-create-list-search-area">
             <input class="bx-def-font-inputs bx-form-input-text" type="text"
                    placeholder="<bx_text:_bx_messenger_name_place_holder />"
                    id="bx-messenger-add-users-input" onInput="oMessenger.getUserByTerm(this.value);" />
               <bx_if:edit>
                  <div class="bx-messenger-jot-hover-menu group px-2 py-1">
                    <a href="javascript:void(0)" onclick="oMessenger.onSaveParticipantsList(__id__);" title="<bx_text:_bx_messenger_save_part_list />">
                        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                        </svg>
                    </a>
                 </div>
               </bx_if:edit>
          </div>
        </div>
        <div class="bx-messenger-create-list-users flex-stat" id="bx-messenger-profiles-list">__items__</div>
    </section>
</div>
