<div class="bx-db-header">
    <div class="bx-messenger-hide-mobile bx-db-menu left">
        <a href="javascript:void(0);" onclick="oJotWindowBuilder.changeColumn(); $('span.bubble', this).remove();" title="__back_title__">
            <i class="sys-icon chevron-left"></i>
            <bx_if:count>
                <span class="bubble bx-menu-toolbar-item-addon bx-def-unit-alert-middle">__back_count__</span>
            </bx_if:count>
        </a>
    </div>
    <div class="bx-db-title bx-def-font-h4">
        __title__
    </div>
    __buttons__
</div>