.bx-main,
#bx-content-container,
#bx-content-wrapper,
#bx-content-main,
.bx-page-wrapper,
.bx-page-block-container,
.bx-layout-cell
{
	padding:0;
	margin:0;
}

.cd-main-content .content-wrapper
{
	margin-left:0 !important;
}

#bx-footer-wrapper {
	display:none;
}

.bx-messenger-items-list
{
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	border-radius: 0;
}

.bx-main{
	height:100vh;
	overflow:hidden;
	position:fixed;
	width:100%;
}

.bx-messenger-table-wrapper  .bx-messenger-table-wrapper-rows:first-child .cell{
	height:100% !important;
	min-height:50px;
}

.bx-layout-row .bx-layout-col
{
	display:none;
}

.bx-messenger-block-lots
{
	border:0;
}

.bx-messenger-jots-snip-avatars .bx-base-pofile-unit-online{
	bottom:1.1rem;
	right:1rem;
	z-index: 2;
}

.bx-messenger-jots-snip-avatars .bx-base-pofile-unit-online.offline{
	display:none;
}

.bx-messenger-jots-snip-avatars .bx-base-pofile-unit-online.away{
	background-color: #f5a623;
}

.bx-messenger-jots-snip-title div.status
{
	margin-right: 0.2rem;
	text-align: center !important;
	font-family: inherit;
	padding-left: .20rem;
	padding-right: 0.2rem;
	min-width: auto;
}

.bx-messenger-jots-snip-title div.title
{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	margin-right:0.3rem;
	width:100%;
}

.bx-messenger-jots-snip-title div.time
{
	margin-right:0.3rem;
	opacity:0.7;
}

.bx-messenger-usernames
{
	overflow:hidden;
	width:auto;	
}

.bx-messenger-block span.bubble.bx-def-label{
	font-size:inherit;
	padding: 0 0.3rem;
}

.bx-messenger-block span.bubble
{
	position:relative;
	border-radius: 1rem;
	line-height: 1rem;
	padding: 0 0.3rem;
	min-width: auto;
}

.bx-messenger-block span.bubble.hidden
{
	display:none;
}

.bx-messenger-preview-lot
{
    overflow: hidden;
    display: flex;
    margin: auto;
	align-items: center;
	justify-content: space-between;
	margin-right: 0.3rem;
}

.bx-messenger-preview-lot div{
	margin-top:0.2rem;
}

.bx-messenger-preview-lot div:first-child
{
	float:left;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	width:calc(100% - 2rem);
}

.bx-messenger-preview-lot div:first-child span:first-child
{
	margin-right:0.2rem;
}

.bx-messenger-jots-snip-info .info i {
	padding: 0.2rem;
	font-size: 0.7rem;
}

.bx-messenger-jots-snip-info span:last-child
{
	word-break:break-word;
	overflow-wrap:break-word;
	white-space: nowrap;
}

.bx-messenger-participants-usernames
{
	float:left;
	position:relative;
	max-height:2.3rem;
	margin-right:1rem;
	font-weight:bold;
	width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bx-messenger-participants-usernames div
{
	width:100%;
	float:left;
	/*margin-left:1rem;*/
}

.bx-messenger-participants-usernames a
{
	font-weight:bold;
}

.bx-messenger-participants-usernames div.status
{
	line-height:1rem;
	height:1rem;
	font-size:0.8rem;
	font-weight:normal;
}


.bx-messenger-participants-usernames div.name
{
	font-weight:bold;
	overflow:hidden;
}

.bx-messenger-hide-mobile svg
{
	vertical-align:middle;
}

.bx-messenger-hide-mobile a
{
	font-size:1rem;
	font-weight:700;
	display:inline-flex;
}

div.bx-messenger-border.search .menu{
	display: flex;
	align-items: center;
}

div.bx-messenger-border.search span i {
	font-size: 1.3rem;
}

div.bx-messenger-border.search span.star {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

div.bx-messenger-border.search div:first-child 
{
	width:100%;
	vertical-align:middle;
	flex:0 1 auto;
}

div.bx-messenger-border.search span:first-child input
{
	padding:0;
	background-color:rgba(0,0,0,0);
}

div.bx-messenger-border.search div:first-child input::placeholder
{
	color:inherit;
}

div.bx-messenger-border.search > span:first-child{
	flex: 1 auto;
}

div.bx-messenger-border.search .star a
{
	opacity:0.5;
}

div.bx-messenger-border.search .star a.active
{
	opacity:1;
}

.bx-messenger-blink-jot
{
	animation:blink-jot 4s ease-in-out;
}

@keyframes blink-jot
{ 
	from {background-color:rgba(74,144,226,0.5);}
	to {background-color:transparent;}
}

.bx-messenger-talk-header-usernames{
	background-color: inherit;
	border: 0;
	padding:0;
	height:auto;
	line-height: normal;
}

.bx-messenger-talk-header-usernames > span{
	display: flex;
	align-items: center;
}

.bx-messenger-talk-header-usernames > span > span:first-child{
	display: flex;
	align-items: center;
	border-radius: 1rem;
	overflow: hidden;
	margin-right: 0.5rem;
}

div.bx-messenger-jots-actions-list
{
	padding-right: 0.8rem;
}

.bx-messenger-jots-avatars{
	padding-left: 0.8rem;
}

.bx-messenger-table-wrapper-rows.history {
	min-height:auto !important;
}

#bx-page-messenger .bx-page-block-container {
	margin: 0 !important;
	padding: 0;
}

#bx-page-messenger .bx-messenger-post-box {
	border-left: 0;
}

#bx-page-messenger .bx-layout-row {
	gap:0;
}

.bx-media-phone #bx-page-messenger .bx-layout-col {
	width: 100% !important;
}

#bx-content-wrapper .bx-page-wrapper {
	margin:0;
	max-width: 100%;
	padding:0;
}

#bx-messenger-block-head #items,
#bx-messenger-add-users-input::placeholder,
#bx-search-criteria::placeholder {
	color: inherit;
}
#bx-messenger-block-head #items,
#bx-search-criteria {
   height: auto;
}
.bx-messenger-items-list .bx-def-label {
	padding: 0;
}