#jitsi-public-window,
#bx-messenger-jitsi {
	height:480px;
	width:640px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#bx-messenger-vc-call {
	cursor:move;
}

#bx-messenger-vc-call .bx-popup-close-wrapper{
	display: none;
}

#bx-messenger-vc-call .bx-messenger-jitsi-public-window-buttons{
	margin: 1rem 1rem 0rem;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
}

#bx-messenger-jitsi-video .bx-popup-content-indent{
	margin: 0;
	padding: 0;
}

#bx-messenger-jitsi-video .bx-popup-content-indent{
	margin: 0;
	padding: 0;
}

div.bx-messenger-jitsi-area {
	padding: 1.5rem;
	cursor: move;
}

div.bx-messenger-jitsi-area .bx-messenger-jitsi-buttons
{
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

div.bx-messenger-jitsi-area div[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

.bx-messenger-jots-message-vc-participants{
	display: flex;
	justify-content: space-between;
}

.bx-messenger-jots-message-vc-participants img{
	width: 1rem;
	height: 1rem;
	margin-right: 0.1rem;
	margin-left: 0.2rem;
}

button.bx-messenger-jots-message-vc-join-button{
	color: white !important;
	background-color: red !important;
	font-weight: bold !important;
	border: 1px solid white !important;
}

div.bx-messenger-jots-message-vc
{
	max-width: 100%;
	text-align: left;
	display: flex;
	position: relative;
	background-color: rgba(68,136,225, 0.6);
	max-height: 1.5rem;
	overflow: hidden;
	white-space: normal;
	border-radius: 0.25rem;
	padding: 0.3rem;
	margin:0.25rem 0 0 0;
	border:0;
	align-items:center;
	justify-content: space-between;
}

div.bx-messenger-conference-call {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	margin: 0.5rem;
}

div.bx-messenger-conference-call .bx-messenger-conference-call-buttons{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}

div.bx-messenger-conference-call .bx-messenger-conference-call-buttons i {
	text-align: center;
	padding: 0.5rem;
	line-height: 2.5rem;
	border-radius: 1.25rem;
	min-width: 2.5rem;
	font-size: 1.25rem;
}

div.bx-messenger-conference-call > div {
	margin: 1rem;
}

#bx-messenger-jitsi-video .resizers{
	width: 100%;
	height: 100%;
	border: 3px solid #4286f4;
	box-sizing: border-box;
}

#bx-messenger-jitsi-video .resizers .resizer{
	width: 10px;
	height: 10px;
	border-radius: 50%; /*magic to turn square into circle*/
	background: white;
	border: 3px solid #4286f4;
	position: absolute;
}

#bx-messenger-jitsi-video .resizers .resizer.top-left {
	left: -5px;
	top: -5px;
	cursor: nwse-resize; /*resizer cursor*/
}
#bx-messenger-jitsi-video .resizers .resizer.top-right {
	right: -5px;
	top: -5px;
	cursor: nesw-resize;
}
#bx-messenger-jitsi-video .resizers .resizer.bottom-left {
	left: -5px;
	bottom: -5px;
	cursor: nesw-resize;
}
#bx-messenger-jitsi-video .resizers .resizer.bottom-right {
	right: -5px;
	bottom: -5px;
	cursor: nwse-resize;
}

.bx-menu-item-public-vc-messenger .bx-menu-item-addon{
	position: absolute;
	margin: 0 !important;
	padding: 0;
	line-height: 1rem !important;
	font-size: 0.8rem !important;
	right: -1.1rem;
}


@media (max-width:480px){
	#bx-messenger-jitsi,
	#bx-messenger-jitsi-video{
		width:100%;
		height:100%;
	}
}