<script type="text/javascript">
	<bx_if:onsignal>
	/* One Signal  Push Notifications Init Begin */
		const OneSignal = window.OneSignal || [];
        bx_get_scripts(['https://cdn.onesignal.com/sdks/OneSignalSDK.js'], () => {
            OneSignal.push(["init", {
                appId: '__one_signal_api__',
                autoRegister: true, /* Set to true to automatically prompt visitors */
                subdomainName: '__short_name__', /* required only for http  sites */
                safari_web_id: '__safari_key__',
                persistNotification: false,
                welcomeNotification: {
                    disable: false
                },
                httpPermissionRequest: {
                    enable: true
                },
                promptOptions: {
                    /* These prompt options values configure both the HTTP prompt and the HTTP popup. */
                    /* actionMessage limited to 90 characters */
                    actionMessage: _t('notification_request'),
                    /* acceptButtonText limited to 15 characters */
                    acceptButtonText: _t('_bx_messenger_notification_request_yes'),
                    /* cancelButtonText limited to 15 characters */
                    cancelButtonText: _t('_bx_messenger_notification_request_no')
                }
            }
            ]);

            OneSignal.push(function () {
                var isPushSupported = OneSignal.isPushNotificationsSupported();
                OneSignal.setDefaultNotificationUrl('__jot_chat_page_url__');
                OneSignal.isPushNotificationsEnabled().then(
                    function (isEnabled) {
                        if ('__email__')
                            OneSignal.setEmail('__email__', '__email_hash__');

                        OneSignal.sendTags(__push_tags_encoded__);

                        if (!isEnabled && isPushSupported)
                            OneSignal.showHttpPermissionRequest();
                    });
            });
       });
	/*  One Signal Push Notifications Init End */
	</bx_if:onsignal>

    if (navigator.userAgent.indexOf('gonative') > -1) {
        var data = { user: __profile_id__ };
        var json = JSON.stringify(data);
        $(document).ready(function () {
            window.location.href='gonative://registration/send?customData=' + encodeURIComponent(json);        
        });
    }

    if (typeof oRTWSF !== 'undefined') {
			oRTWSF.init({
				server:'__server_url__',
				ip:'__ip__'
			});
	}
		
   if (typeof oMessenger !== 'undefined')
	$(() => oMessenger.init({
				oRTWSF: oRTWSF,
				user_id: __profile_id__,
                name: '__username__',
                type: __type__,
                lot: __lot__,
                muted: __muted__,
                url: '__url__',
                direction: '__direction__',
                jot_id: __jot_id__,
                last_unread_jot: __last_unread_jot__,
                selected_profile: __selected_profile__,
                by_url: __by_url__,
		max: __message_length__,
                jot_url: '__jot_url__',
                block_version: __block_version__,
                max_history_number: __max_history__,
                unread_jots: __unread_jots__,
                allow_attach: __allow_attach__,
                jitsi_server: '__jitsi_server__',
                files_uploader: __files_uploader__,
                templates: {
                    embed_template: `__embed_template__`,
                    reaction_template: `__reaction_template__`,
                    date_intervals_template: `__dates_intervals_template__`,
                    thumb_letter: `__thumb_letter__`,
                    thumb_icon: `__thumb_icon__`,
                },
	}));

</script>
