<div class="bx-def-color-bg-block giphy">
    <div class="bx-messenger-giphy bx-form-element">
            <div class="ui left icon input search bx-form-value">
                <input class="bx-def-font-inputs bx-form-input-text" type="text" placeholder="<bx_text:_bx_messenger_title_search />" autocomplete="off" autocapitalize="off" autocorrect="off" />
                <i class="sys-icon search icon"></i>
            </div>
            <div class="bx-messenger-giphy-scroll">
                <div class="bx-messenger-giphy-items"></div>
            </div>
    </div>
</div>