<div class="bx-messenger-jots-snip" onclick="oMessenger.loadTalk(__id__);" data-lot="__id__">
		<div class="bx-messenger-jots-snip-avatars bx-messanger-padding-lots-lefttopbottom">
			<div class="bx-messenger-jots-snip-avatars-list bx-def-thumb bx-def-thumb-size" >
				<bx_repeat:avatars>
					<div>	
						<img title="__title__" src="__thumb__" class="bx-def-thumb-size" />
					</div>
				</bx_repeat:avatars>
			</div>
			__status__
		</div>
		<div class="bx-messenger-jots-snip-info bx-messenger-padding-lots-topbottom __class__">
			<div class="bx-messenger-jots-snip-title bx-def-font-semibold">
				<div class="info">
				</div>
				__number__
				<div class="title">
					__title__
				</div>
				<bx_if:show_time>
					<div class="time bx-def-font-light bx-def-font-small">__time__</div>
				</bx_if:show_time>				
			</div>
			<div class="bx-messenger-preview-lot">				
				<div>
					<span>__sender_username__</span>
					<span>__message__</span>
				</div>
				<div>
					<span class="bubble bx-menu-toolbar-item-addon bx-def-unit-alert-middle __bubble_class__">__count__</span>
				</div>				
			</div>			
		</div>
</div>