.bx-messenger-conversation-block-wrapper .ui.feed.segment{
	border: 0;
	border-radius:0;
}

.bx-messenger-conversation-block-wrapper .ui.feed > .event{
	margin-top: 0.5rem;
	color: inherit;
}
.ui.feed div {
	color: inherit;
}

.ui.feed > .event > .content,
.ui.feed > .event > .content .extra,
.ui.feed > .event > .content .summary,
.ui.feed > .event > .content .summary > .date {
	color: inherit;
}

.bx-messenger-conversation-block-wrapper .ui.feed > .event:last-child{
	border-bottom: 0;
}

.ui.category.search>.results .result .image,
.ui.search>.results .result .image
{
	width:3rem !important;
	height:3rem !important;
	border-radius:3rem !important;	
}

.ui.category.search>.results .category .image+.content,
.ui.search>.results .result .image+.content
{
	margin:0 !important;
}
.ui.search>.results .result,
.ui.search>.results .result .title,
.ui.search>.results .result .description
{
	color: inherit;
	font-family: inherit;
}

.ui.category.search>.results .category,
.ui.category.search>.results .result,
.ui.category.search>.results .result .title,
.ui.category.search>.results .result .description,
.ui.category.search>.results .category .results
{
	color: inherit;
	font-family: inherit;
	background-color: transparent;
	border-color: inherit;
}

.ui.category.search>.results .category>.name
{
	color: inherit;
	font-family: inherit;
	background-color: transparent;
	border-color: inherit;
}

.ui.search > .results > .message .description {
	color: inherit;
}

.ui.input.focus > input::placeholder,
.ui.input > input:focus::placeholder {
	color: inherit;
}

#bx-messenger-add-users .ui.category.search > .results .result:hover,
#bx-messenger-add-users .ui.search > .results .result:hover{
	background-color: rgba(0,0,0,0.08);
}

.ui.category.search > .results .category .results,
.ui.category.search > .results .category > .name {
	background-color:transparent;
	border: inherit;
}

#bx-messenger-add-users .ui.category.search > .results .result .image p.bx-def-thumb-size{
	width: inherit;
	height: inherit;
	line-height: inherit;
}

.bx-messenger-main-block .ui.segment {
	background-color: inherit;
}
#bx-messenger-add-users .result.modified {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#bx-messenger-add-users .ui.search > .results .result.modified .image {
	margin-right: 1rem;
}

#bx-messenger-add-users .ui.search > .results .result.modified .image + .content {
	flex: 1 1 auto;
	text-align: left;
}

#bx-messenger-add-users .ui.search > .results {
	border: inherit;
}

#bx-messenger-add-users .ui.input {
	border: 0;
}