<div id="bx-messenger-info-area">
    <div class="bx-messenger-conversations-typing">
        <i class="sys-icon comments bx-messenger-info-area-status-icon" aria-hidden="true"></i>
        <span class="names"></span><bx_text:_bx_messenger_typing_message />
    </div>
    <div class="bx-messenger-info-area-connecting">
        <i class="sys-icon sync bx-messenger-info-area-status-icon bx-messenger-info-area-status-icon-spin" aria-hidden="true"></i>
        <bx_text:_bx_messenger_reconnecting_message /><span></span>
    </div>
    <div class="bx-messenger-info-area-connect-failed">
        <i class="sys-icon exclamation-circle bx-messenger-info-area-status-icon" aria-hidden="true"></i>
        <bx_text:_bx_messenger_reconnecting_failed />
    </div>
    <div class="bx-messenger-no-server col-red3">
        <bx_text:_bx_messenger_no_server />
    </div>
</div>
