<div id="bx-messenger-info-area">
    <div class="bx-messenger-conversations-typing">
        <span class="names"></span><bx_text:_bx_messenger_typing_message />
    </div>
    <div class="bx-messenger-info-area-connecting">
        <bx_text:_bx_messenger_reconnecting_message /><span></span>
    </div>
    <div class="bx-messenger-info-area-connect-failed">
        <bx_text:_bx_messenger_reconnecting_failed />
    </div>
    <div class="bx-messenger-no-server col-red3">
        <bx_text:_bx_messenger_no_server />
    </div>
</div>