.bx-messenger-main-columns-block {
    @apply w-full max-h-full h-full overflow-hidden;
}

.bx-messenger-columns {
   @apply w-full h-full mx-auto divide-x divide-gray-200 dark:divide-gray-800 bg-gray-50 dark:bg-gray-900 grid grid-cols-10;
}

.bx-messenger-columns .bx-loading-ajax {
    @apply border-none;
}

.bx-messenger-history-column {
    @apply divide-y divide-gray-200 dark:divide-gray-800;
}

.bx-messenger-menu-column {
    @apply overflow-hidden max-h-full;
}

.bx-messenger-usernames div
{
    float:left;
    width:100%;
    overflow:hidden;
}

ul.bx-menu-object-jot a{
    font-size: 0.875rem;
    line-height: 1rem;
}

.info-menu i {
    font-size: 1.3rem;
}

.info-menu ul.bx-menu-object-jot a{
    font-size: 1rem;
    line-height: 1.3rem;
}

.ui.popup.bx-messenger-jots-icons .bx-popup{
    border-radius: inherit;
}

/* Upload Files Area */
#bx-messenger-uploaded-files-area
{
    width:100%;
}

.bx-messenger-files-upload-description-area
{
    overflow:hidden;
    width:100%;
}

.bx-messenger-upload-area div[contenteditable="true"],
.bx-messenger-files-upload-area div[contenteditable="true"]{
    border:0px;
    min-height:3rem;
    outline:0;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.bx-messenger-files-upload-description-area div.bx-messenger-comment {
    min-height: 2rem;
    margin-bottom:1rem;
}

.bx-messenger-comment
{
    white-space:pre-line;
}

.bx-messenger-comment:empty:before
{
    content: attr(placeholder);
    color: #ccc;
}

.bx-messenger-comment:focus:before
{
    content:'';
}

#bx-messenger-big-img
{
    overflow:hidden;
}

#bx-messenger-big-img img
{
    border-radius:0.2rem;
}

/* Video Recording Area */
div.bx-messenger-upload-area
{
    overflow:hidden;
    min-height:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

div.bx-messenger-upload-area .bx-messenger-video-buttons
{
    overflow:hidden;
    width:100%;
    display:flex;
    justify-content:center;
}

div.bx-messenger-upload-area .bx-messenger-video-buttons .bx-btn
{
    float:none;
}

.bx-messenger-video
{
    position:relative;
    text-align:center;
}

.bx-messenger-video video
{
    min-width:320px;
    min-height:240px;
    width:480px;
    height:360px;
    background-color:rgba(7,20,30,.8);
}

div.bx-messenger-video-block
{
    margin:1rem;
    overflow:hidden;
}

div.bx-messenger-video-block div:first-child
{
    overflow:hidden;
}

.bx-messenger-video-buttons button.bx-btn
{
    vertical-align:middle;
    min-width:2.2rem;
}

.bx-messenger-video-buttons svg
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill:#fff;
}

.bx-messenger-video-buttons button.empty svg
{
    fill:none;
}

.bx-messenger-video-buttons div.bx-btn.active svg
{
    fill:orangered;
}

.bx-messenger-video-recording
{
    position: absolute;
    right: 1rem;
    top: 1rem;
    fill: orangered;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
    display:none;
    color:#fff;
}

.bx-messenger-video-recording span
{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    vertical-align: middle;
    color:#fff;
    margin-right:0.5rem;
}

.bx-messenger-video-recording .icon
{
    height:1rem;
    width:1rem;
    fill:orangered;
    color:orangered;
    top: 50%;
}

.bx-messenger-upload-description-area
{
    margin-right:1rem;
    margin-left:1rem;
    width: 100%;
}

@-moz-keyframes blinker {
    50% { opacity: 0; }
}
@-webkit-keyframes blinker {
    50% { opacity: 0; }
}
@keyframes blinker {
    50% { opacity: 0; }
}

.blink {
    -moz-animation: blinker 2s linear infinite;
    -webkit-animation: blinker 2s linear infinite;
    animation: blinker 2s linear infinite;
}

.bx-messenger-block.bx-db-container .bx-db-divider
{
    top:0;
    position:relative;
}

div.bx-messenger-uploading-form-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0.5rem;
}

.bx-messenger-options-buttons {
    display: flex;
    justify-content: space-between;
}

.bx-messenger-send-retry i,
.bx-messenger-send-retry i:hover,
.bx-messenger-send-retry i:active
{
    color: inherit !important;
    font-style:normal;
}

p.bx-base-pofile-unit-thumb.bx-def-thumb-size {
    line-height: inherit;
}

.bx-messenger-date-time-value {
    top: -1rem;
}


.bx-messenger-jots-title > div {
    display: flex;
    align-items: end;
}

.bx-messenger-date-time-value > span {
    line-height: 1.5rem !important;
}

#bx-messenger-message-box {
    outline: none;
}

.bx-messenger-items-list ul > div {
    border:0;
}

section .bx-db-container {
    border-radius: 0;
}
